<div class="" style="border: 2px solid; border-radius: 5px;  background-color: yellow; ">
  <p>
    Anuncios
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum,
    nibh pellentesque ultrices placerat, lacus nibh maximus dolor,
    sed volutpat augue tortor nec orci. Donec non interdum ipsum.
    Morbi bibendum turpis volutpat quam efficitur ornare.
    Aliquam pulvinar pulvinar neque sit amet molestie.
    Mauris sit amet gravida lorem. In mattis purus non porta suscipit.

  </p>
</div>
